

<div class="auth-wrapp flex justify-content-center rounded">

  <!-- formulario -->
  <form class="flex flex-column justify-content-center" [formGroup]="loginForm" (ngSubmit)="onSubmitUser()">

  <!-- Email -->
    <div class="p-inputgroup flex justify-content-center my-2">
      <span class="p-inputgroup-addon">
          <i class="pi pi-at"></i>
      </span>
      <input formControlName="email" pInputText placeholder="Email" />
    </div>
    <span class="error-text" *ngIf="isValidField('email')">
      {{getFieldError('email')}}
    </span>

    <!-- contraseña -->
    <p-password formControlName="password" placeholder="contraseña" class="flex justify-content-center my-2" [toggleMask]="true"></p-password>
    <span class="error-text" *ngIf="isValidField('password')">
      {{getFieldError('password')}}
    </span>


    <a [routerLink]="['/auth/new-account']" class="mt-6 mb-2">¿ Aún sin registrar? </a>

    <!-- Toast - en caso que el usuario y contraseña no sean correctos -->
    <p-button type="submit" label="Login"></p-button>

  </form>

  <!-- image -->
  <div class="login-register-img"></div>

</div>


<!-- Toast fuera de form para que no le afecten las clases de este -->
<p-toast></p-toast>


<!-- <h2>Valid</h2>

<pre>{{ loginForm.valid | json }}</pre>

<h2>Value</h2>
<pre>{{ loginForm.value| json }}</pre>

<h2>Email.errors</h2>
<pre>{{ loginForm.controls[''] | json }}</pre> -->


