
#map, .loader{
  width: 100%;
  height: 800px;
}

app-vehicles-sidebar{
  position: fixed;
  top:350px;
  width: 250px;
}

.loader{
  background-color: rgb(241, 241, 241);
  display: flex;
  justify-content: center;
  align-items: center;
  img{
    width: 80px;
    height: 80px;
  }
}



@media (max-width: 1100px) {
  app-vehicles-sidebar{
    position: static;
    top:350px;
    width: 250px;
  }
}

