<div class="card-vehicle">
  <h2 class="px-3">Informe {{ vehicleData?.brand }}</h2>

  <div class="content px-3 flex justify-content-between align-items-center">
    <div class="texto flex">

      <div class="test-1 mr-5">
        <p>Motor: {{ vehicleData?.engine }}</p>
        <p>Matricula: {{ vehicleData?.plate }}</p>
        <p>km: {{ vehicleData?.mileage }}</p>
        <p> {{ vehicleData?.fuelType }}</p>
      </div>
      <div class="text-2">
        <p>{{ vehicleData?.model }}</p>
        <p>Puertas: {{ vehicleData?.numberOfDoors }}</p>
        <p>{{ vehicleData?.available }}</p>
      </div>
    </div>
    <img [src]=" vehicleData?.image" alt="{{ vehicleData?.brand }}">
  </div>

</div>


<app-table [data]="rentalArr" (loading)="onLoadData()"></app-table>

