<!-- <p-button label="Submit" [link]="true"></p-button> -->

<div class="auth-wrapp flex justify-content-center rounded">

  <form class="flex flex-column justify-content-center" [formGroup]="registerForm" (ngSubmit)="onSubmitRegister()">

    <h1>Crea tu cuenta</h1>
    <!-- Nombre -->
    <div class="p-inputgroup flex justify-content-center py-2">
      <span class="p-inputgroup-addon">
          <i class="pi pi-user"></i>
      </span>
      <input formControlName="nombre" pInputText placeholder="Nombre" />
    </div>
    <span class="error-text"  *ngIf="isValidField('nombre')">
      Debe de ser en formato de nombre y apellido
    </span>

    <!-- Email -->
    <div class="p-inputgroup flex justify-content-center py-2">
      <span class="p-inputgroup-addon">
          <i class="pi pi-at"></i>
      </span>
      <input formControlName="email" pInputText placeholder="Email" />
    </div>
    <span class="error-text"  *ngIf="isValidField('email')">
      {{getFieldError('email')}}
    </span>


    <hr>

    <div class="passwords flex">

      <div>
        <p-password formControlName="password" placeholder="contraseña" class="mr-2" [toggleMask]="true"></p-password>
        <span class="error-text" *ngIf="isValidField('password')">
          {{getFieldError('password')}}
        </span>
      </div>

      <div>
        <p-password formControlName="password2" placeholder="Repite la contraseña" [toggleMask]="true"></p-password>
        <span class="error-text" *ngIf="isValidField('password2')">
          {{getFieldError('password2')}}
        </span>
      </div>
    </div>

    <a class="mt-6 mb-2" [routerLink]="['/auth/login']">Ir a login</a>


    <p-button type="submit" label="Crear cuenta"></p-button>
  </form>

</div>

<p-toast></p-toast>



